.header{
background: none;
  position: fixed;
  z-index: 10;
  width: 100%;

  &.active {
    // padding: 20px 30px;
    background-color: $color-primary-dark;


  }

}
.header__container{
  display: flex;
  align-items: center;

height: 70px;
padding: 30px;
@include mq(md){
height: 50px;
padding: 10px 15px;
}
}

.header__logo {
  @include mq(md){
  width: 120px;
  }
}
.header__logo img{
display: block;
}

