// Colors
// $color-primary:#27855c;
$color-primary:#237f57;
// $color-primary-dark: #033720;
$color-primary-dark: #028b4f;
$color-secondary: #393636;
$color-btn: linear-gradient(to right, #27855c 0%,#045733 51%,#27855c 100%);
$color-text: #333;
$color-gray: #f0f0f0;
$color-white: white;
