

.company-info__heading{
  margin-bottom: 30px;
  text-align: center;

}

.company-info__table {
  margin-bottom: 60px;
}

.access__map {
  margin-bottom: 5px;
}

.access__map iframe {
  height: 400px;
  vertical-align: bottom;
}